{% extends 'layout.html' %}

{% block content %}
     <form >
              <div class="form-group">
                  <label for="purpose">Purpose:</label>
                  <select class="form-control" id="expense" name="expense">
                      <option selected>Please select an option:</option>
                      <option value = "rent">Rent</option>
                      <option value = "insurense">Insurense</option>
                      <option value = "food">Food</option>
                      <option value = "entertainment">Entertainment</option>
                      <option value = "other">Others</option>
                  </select>
                  <div id="otherType" style="display:none;">
                    <label for="specify">Specify:</label>
                    <input type="text" class="form-control" id="other"   name="specify" placeholder="Specify the reason"/>
                  </div>
              </div>
              <div class="form-group">
                <label for="amount">Amount:</label>
                <input type="number" class="form-control" id="amount" placeholder="Enter amount" name="amount">
              </div>
              <!-- <div class="form-group form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="remember"> Remember me
                </label>
              </div> -->
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
{% endblock %}

{% block scripts %}    }
  <script>
  $('#expense').on('change',function(){
    if( $(this).val()==="other"){
    $("#otherType").show()
    }
    else{
    $("#otherType").hide()
    }
  });

  </script>
{% endblock %}